body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #1f2127;
}
/* Ensure the container is a flex container */
.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Adjust as needed */
    height: 100vh; /* Full height of the viewport */
}

/* Style the left menu */
.left-menu {
    width:max-content; /* Adjust width as needed */
    background-color: #1f2127; /* Background color for the menu */
    border-right: 1px solid #1f2127; /* Right border for separation */
    padding: 10px; /* Padding inside the menu */
    transition: transform 0.3s ease; /* Smooth transition for hiding/showing */
    justify-content: baseline;
    color: #ffffff;
}

.left-menu.hidden {
    display: none;
}


/* Style for the main content area */
.main-content {
    display: flex;
    flex-direction: column;
    flex: 1; /* Take up remaining space */
    padding: 10px; /* Padding inside the main content area */
}

/* Chat box and input container adjustments */
.chat-box {
    flex: 1; /* Adjust the growth of the chat-box */
    border: 1px solid #ccc; /* Example styling */
    border-radius: 5px;
    padding: 10px; /* Example styling */
    margin-bottom: 10px; /* Space below the chat-box */
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #1f2127; /* Example styling */
    padding: 10px; /* Example styling */
}

.file-upload {
    margin-top: 10px; /* Example styling */
}

.loader {
    margin-top: 10px; /* Example styling */
}

/* Button to toggle the menu */
#toggle-menu {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.message {
    margin-bottom: 10px;
}
.user-message {
    text-align: right;
    color: #ffffff;
}
.bot-message {
    text-align: left;
    color: #ffffff;
}
input[type="text"] {
    width: calc(100% - 50px);
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
