<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyst Chatbot</title>
    <link rel="icon" href="/static/images/userIconSilvesterStyle.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Analyst Chatbot</h1>
    <div class="container">
        <div class="chat-box" id="chat-box">
            <div class="message bot-message">
                <p>{{ bot_response }}</p>
            </div>
        </div>
        <div class="input-container">
            <input type="text" id="user-input" placeholder="Type your message here...">
            <button onclick="sendMessage()">Send</button>
        </div>
        <div class="file-upload">
            <input type="file" id="file-input" multiple>
            <button onclick="uploadFiles()">Upload</button>
        </div>
        <div id="loader" class="loader" style="display: none;"></div>
    </div>

    <script src="/static/js/upload_files.js"></script>
    <script src="/static/js/handler_message.js"></script>
</body>
</html>
